GIGACHAT_ACCESS_TOKEN=
GIGACHAT_BASE_URL=https://api.giga.chat/v1
GIGACHAT_VERIFY_SSL_CERTS=false
GIGACHAT_TIMEOUT=300
GIGACHAT_TEMPERATURE=
GIGACHAT_TOP_P=
GIGACHAT_MAX_TOKENS=
GIGACHAT_REPETITION_PENALTY=
GIGACHAT_UPDATE_INTERVAL=
